{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page_title}} {{site_setup.title}} </title>
    <link rel="stylesheet" href="{% static "blog/css/remedy.css" %}" >
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}" >
    {% if site_setup.favicon  %}
        <link rel="shortcut icon" href="{{site_setup.favicon.url}}" type="image/png" >
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block additional_head %}{% endblock additional_head %}
</head>
<body> 
    <div class="blog-wrapper">
    {% if site_setup.show_header %}
        {% include "./header.html" %} 

    {% endif %}

    {% block content %}{% endblock content %}

    {% if site_setup.show_pagination %}
        {% include "./_pagination.html" %}
    {% endif %}

    {% if site_setup.show_footer %}
        {% include "./footer.html" %}
    {% endif %}

    </div>
</body>
</html>